%h1 Editing Outgoing

= error_messages_for :outgoing

- form_for(:outgoing, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "/shared/transactions/form", :locals => {:f => f}
  %p= submit_tag "Update"

= link_to 'Show', object_path
|
= link_to 'Back', objects_path
