%h1 Viewing outgoing

%div[current_object]
  %p.source
    %strong Money outgoing from
    = h current_object.source.title
  %p.outgoing_date
    %strong outgoing date
    = h current_object.outgoing_date
  %p.amount
    %strong Amount
    = h current_object.amount
  %p.detail
    %strong Detail
    = h current_object.detail

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy outgoing?', :method => :delete
|
= link_to 'Back', objects_path

%div
  %h2 Where'd the money go?
  %ul
    %li
      = link_to_remote "Add allocation", :url => new_outgoing_outgoing_category_allocation_path(current_object), :method  => :get, :position => :bottom, :update => :new_allocation, :complete => "Effect.Appear($('new_allocation'))"
    %li#new_allocation{:style => "display:none"}
    %li
      %table#allocations
        = render :partial => "outgoing_category_allocation", :collection => current_object.outgoing_category_allocations
 
