%h1 Viewing flush

%div[current_object]
  %p.flushed_date
    %strong Flushed date
    = h current_object.flushed_date
  %p.amount
    %strong Amount
    = h current_object.amount
  %p.detail
    %strong Detail
    = h current_object.detail

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy flush?', :method => :delete
|
= link_to 'Back', objects_path
