%fieldset
  %ul
    %li
      %label{:for => :parent} Parent 
<<<<<<< Updated upstream:app/views/categories/_form_fields.html.haml
      = form_fields.select :parent_id, nested_set_options(Category, @outgoingcategory){ |i| "#{'..' * i.level} #{i.name}" }, :include_blank => "-- set parent--"
=======
      = form_fields.select :parent_id, category_selection, :include_blank => "-- set parent--"
>>>>>>> Stashed changes:app/views/outgoing_categories/_form_fields.html.haml
    %li
      %label{:for => :name} Name
      = form_fields.text_field :name
    %li
      %label{:for => :budgeted_amount} Budgeted Amount
      = form_fields.text_field :budgeted_amount
    %li
      %label{:for => :budgeted_period_type} Budgeted Period Type
      = form_fields.select :budgeted_period_type, ["Daily", "Weekly", "Fortnightly", "Monthly", "Bi-Monthly", "Quaterly", "Half Yearly", "Annually"]
    %li
      %label{:for => :budgeted_period_start_date} Budgeted Start Date
      = form_fields.date_select :budgeted_period_start_date
%fieldset
  =form_fields.submit "Save"
