%h1 Viewing incoming

%div[current_object]
  %p.account
    %strong Money incoming from
    = h current_object.account.title if current_object.account
  %p.incoming_date
    %strong incoming date
    = h current_object.transaction_date
  %p.amount
    %strong Amount
    = h current_object.amount
  %p.detail
    %strong Detail
    = h current_object.detail
%div
  %h2 Where'd the money go?
  %ul
    %li
      = link_to_remote "Add allocation", :url => new_incoming_category_allocation_path(current_object), :method  => :get, :position => :bottom, :update => :new_allocation, :complete => "Effect.Appear($('new_allocation'))"
    %li#new_allocation{:style => "display:none"}
    %li
      %table#allocations
        = render :partial => "category_allocations/category_allocation", :collection => current_object.category_allocations

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy incoming?', :method => :delete
|
= link_to 'Back', objects_path


